Source: #PACKAGE#
Priority: optional
Maintainer: #USERNAME# <#EMAIL#>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: #POLICY#

Package: libghc6-#PACKAGE#-dev
Section: devel
Architecture: any
#Depends: #PACKAGE# (= ${Source-Version})
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

# Package: libnhc98-#PACKAGE#-dev
# Section: devel
# Architecture: any
# Description: <insert up to 60 chars description>
#  <insert long description, indented with spaces>
# 
# Package: libhugs-#PACKAGE#-dev
# Section: devel
# Architecture: any
# Description: <insert up to 60 chars description>
#  <insert long description, indented with spaces>
