#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


#DPKG_ARCH#

CFLAGS = -Wall -g
CABAL_GHC_BIN=libghc6-#PACKAGE#-dev

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

# shared library versions, option 1
version=2.0.5
major=2
# option 2, assuming the library is created as src/.libs/libfoo.so.2.0.5 or so
#version=`ls src/.libs/lib*.so.* | \
# awk '{if (match($$0,/[0-9]+\.[0-9]+\.[0-9]+$$/)) print substr($$0,RSTART)}'`
#major=`ls src/.libs/lib*.so.* | \
# awk '{if (match($$0,/\.so\.[0-9]+$$/)) print substr($$0,RSTART+4)}'`

#CONFIGURE#

setup: Setup.lhs
	ghc -package Cabal Setup.lhs -o setup

build: build-stamp
build-stamp: #CONFIGURE_STAMP# #CONFIG_STATUS# setup
	dh_testdir
	# Add here any extra commands to compile the package.
	./setup configure --ghc --prefix=/usr
	./setup build

	touch build-stamp

clean: setup
	dh_testdir
	dh_testroot
	rm -f build-stamp #CONFIGURE_STAMP#

	# Add here any extra commands to clean up after the build process.
	./setup clean

	dh_clean #PRESERVE#

install: build setup
	dh_testdir
	dh_testroot
	dh_clean -k #PRESERVE#
	dh_installdirs

	# Add here commands to install the package into debian/tmp
	./setup install --install-prefix=$(CURDIR)/debian/$(CABAL_GHC_BIN)/usr
	cp .installed-pkg-config installed-pkg-config


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs #CHANGELOGS#
	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_python
#	dh_makeshlibs
	dh_installdeb
#	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install #PHONY_CONFIGURE#
