# Note: some cabal-testsuite tests need .git, so we cannot ignore that.

cabal.project.local
.ghc.environment.*

.docker/

**/.hpc
**/*.hi
**/*.o
**/*.p_hi
**/*.prof
**/*.tix

**/*.sw*

**/Setup
**/*.dist

Cabal/dist/
Cabal/.python-sphinx-virtualenv/
Cabal/tests/Setup
Cabal/Setup
Cabal/source-file-list

cabal-install/dist/
cabal-install/Setup
cabal-install/source-file-list

.github/
dist-newstyle/
dist-newstyle-*/

Cabal/.python-sphinx-virtualenv
