variables:
  # Commit of ghc/ci-images repository from which to pull Docker images
  DOCKER_REV: "853f348f9caf38b08740b280296fbd34e09abb3a"

  GHC_VERSION: 8.10.7
  CABAL_INSTALL_VERSION: 3.4.0.0

workflow:
  rules:
    - if: $CI_COMMIT_TAG
      when: always
    - if: '$CI_PIPELINE_SOURCE == "web"'
      when: always
    - when: never

.build:
  script:
    - bash .gitlab/ci.sh
  artifacts:
    expire_in: 2 week
    paths:
      - out

build-aarch64-linux-deb10:
  extends: .build
  tags:
    - aarch64-linux
  image: "registry.gitlab.haskell.org/ghc/ci-images/aarch64-linux-deb10:$DOCKER_REV"

build-armv7-linux-deb10:
  extends: .build
  tags:
    - armv7-linux
  image: "registry.gitlab.haskell.org/ghc/ci-images/armv7-linux-deb10:$DOCKER_REV"

build-x86_64-linux:
  extends: .build
  tags:
    - x86_64-linux
  image: "registry.gitlab.haskell.org/ghc/ci-images/x86_64-linux-deb9:$DOCKER_REV"

build-x86_64-linux-alpine:
  extends: .build
  tags:
    - x86_64-linux
  image: "registry.gitlab.haskell.org/ghc/ci-images/x86_64-linux-alpine3_12:$DOCKER_REV"

build-x86_64-freebsd:
  extends: .build
  tags:
    - x86_64-freebsd13

build-x86_64-darwin:
  extends: .build
  tags:
    - x86_64-darwin

build-aarch64-darwin:
  tags:
    - aarch64-darwin-m1
  script: |
    set -Eeuo pipefail
    function runInNixShell() {
      time nix-shell $CI_PROJECT_DIR/.gitlab/shell.nix \
        -I nixpkgs=https://github.com/angerman/nixpkgs/archive/75f7281738b.tar.gz \
        --argstr system "aarch64-darwin" \
        --pure \
        --keep CI_PROJECT_DIR \
        --keep MACOSX_DEPLOYMENT_TARGET \
        --keep GHC_VERSION \
        --keep CABAL_INSTALL_VERSION \
        --run "$1" 2>&1
    }
    runInNixShell "cabal update && mkdir vendored && cd vendored && cabal unpack network-3.1.2.1 && cd network-3.1.2.1 && autoreconf -fi" 2>&1
    runInNixShell "./.gitlab/ci.sh" 2>&1
  variables:
    MACOSX_DEPLOYMENT_TARGET: "10.7"
  artifacts:
    expire_in: 2 week
    paths:
      - out

build-x86_64-windows:
  extends: .build
  tags:
    - new-x86_64-windows
