program-options
  ghc-options:
    -fno-ignore-asserts

-- Warning: even though introduced with GHC 8.10, -Wunused-packages gives false
-- positives with GHC 8.10.
if impl(ghc >= 9)
  program-options
    ghc-options: -Wunused-packages
  package cabal-testsuite
    ghc-options: -Wwarn=unused-packages
