-- Usually, the latest GHC requires a few allow-newer's
-- for some time after the release. This project file is meant to host these.
-- The file is supposed to be included in the main project files used for
-- Cabal development:
--   - cabal.project (day-to-day development),
--   - cabal.validate.project (Cabal CI),
-- Commented out below are the usual suspects. Feel free to add more.

-- NOTE: don't forget to update the compiler version in the conditional
-- when upgrading to a newer GHC
if impl(ghc >= 9.10.0)
    allow-newer:
    --windns:*, rere:*, tree-diff:*, uuid-types:*, these:*, hashable:*, assoc:*, semialign:*, indexed-traversable-instances:*, indexed-traversable:*, OneTuple:*, scientific:*, time-compat:*, text-short:*, integer-conversion:*, generically:*, data-fix:*, binary:*
    -- Artem, 2024-04-21: I started and then gave up...
        *:base, *:template-haskell, text-short, *:deepseq, *:bytestring, *:ghc-prim

    repository head.hackage.ghc.haskell.org
        url: https://ghc.gitlab.haskell.org/head.hackage/
        secure: True
        key-threshold: 3
        root-keys:
            26021a13b401500c8eb2761ca95c61f2d625bfef951b939a8124ed12ecf07329
            7541f32a4ccca4f97aea3b22f5e593ba2c0267546016b992dfadcd2fe944e55d
            f76d08be13e9a61a377a85e2fb63f4c5435d40f8feb3e12eb05905edb8cdea89
