-- NOTE: This file is intentionally gutted of contents to save space in our Git
-- repository. When it had been commited in full as downloaded, on the
-- development branch before squashing, I checked with Git on how big this data
-- file is, uncompressed and stored:
--
-- $ git hash-object cabal-testsuite/PackageTests/ProjectImport/UniquePathDuplicates/www-stackage-org/lts-21.25.config
-- 04f7e085d85d4479df8a828d9faff56ce1ddc728
--
-- $ git cat-file -s 04f7e085d85d4479df8a828d9faff56ce1ddc728
--108495
--
-- $ echo 04f7e085d85d4479df8a828d9faff56ce1ddc728 | git cat-file --batch-check='%(objectsize:disk)'
-- 6010
--
-- The point of having a project whole *.config file from Stackage was to show
-- that parsing a project import has a cost. Typically, the snapshot `*.config`
-- files Stackage provides for Cabal are quite big and costly to import. We
-- shouldn't be importing them more than once.

-- Duplicate imports by way of unique import paths are checked for after
-- parsing. I'd initially proposed that all duplicate imports should trigger an
-- error but reviewers wanted a warning instead for those imported by unique
-- import paths.  Exact duplicate imports by the same path are still checked for
-- at parsing and stop parsing with an error.
--
-- If you wish to see how bad it could get, either replace this file's contents
-- with one downloaded from Stackage (you may then need to comment out its
-- with-compiler field) or import from stackage from this file. Uncomment the
-- next line to do the latter:
-- import: https://www.stackage.org/lts-21.25/cabal.config

-- With the above import uncommented, doing a dry run build takes noticable time
-- when there are 25 imports from Stackage:
--
-- $ time cabal build all --dry-run --project-file=woops-0.project --project-file-parser=parsec
-- ...
-- Warning: 25 imports of https://www.stackage.org/lts-21.25/cabal.config;
-- ...
-- Executed in 15.97 secs
--
-- $ time cabal build all --dry-run --project-file=woops-0.project --project-file-parser=legacy
-- ...
-- Warning: 25 imports of https://www.stackage.org/lts-21.25/cabal.config;
-- ...
-- Executed in 14.10 secs

constraints: base installed
