-- WARNING: Override the `with-compiler: ghc-x.y.z` of the stackage import, of
-- https://www.stackage.org/nightly-yyyy-mm-dd/cabal.config. Otherwise tests
-- will fail with:
--   -Error: [Cabal-5490]
--   -Cannot find the program 'ghc'. User-specified path 'ghc-x.y.z' does not
--    refer to an executable and the program is not on the system path.
with-compiler: ghc
