Source: haskell-cabal
Priority: optional
Maintainer: Isaac Jones <ijones@debian.org>
Build-Depends: debhelper (>= 4.0.0), ghc6 (> 6.2)
Standards-Version: 3.6.0
Section: devel

Package: libghc6-cabal-dev
Architecture: any
Description: Haskell Common Architecture for Building Applications and Libraries
 the Cabal describes what a Haskell package is, how these packages
 interact with the language, and what Haskell implementations must to
 do to support packages. The Cabal also specifies some infrastructure
 (code) that makes it easy for tool authors to build and distribute
 conforming packages.
